{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
{% load static %}

{% if not billing_profile %}
        <div class="container m-5">
        <div class="row logindivcheckout">
            <p class="lead">Login</p>

            <form action={% url 'carts:checkout' %} method="post" class='loginformdivcheckout' id='user_login_form_checkout'>
                {% if next %}
                <input type="hidden" name="next_url" value="{{next}}"> 
                {% csrf_token %}
            {%bootstrap_form login_form%}
            <input type="submit" value="Login" class="btn btn-primary mt-3">
            {% endif %}
        </form>

        <script>
            $(document).ready(function() {
                var form=$('#user_login_form_checkout')
                form.submit(function(event){
                    event.preventDefault();
                    var thisForm = $(this)
                    var actionEndPoint=thisForm.attr('action')
                    var httpMethod=thisForm.attr('method')
                    var formData=thisForm.serialize();
                    $.ajax({
                      url: actionEndPoint,
                      method: httpMethod,
                      data:formData,  
                      success: function(response){
                        if(response.type=='error'){
                            
                          console.log(response.errors)
                         $('.loginformdivcheckout').hide()
                          $('.logindivcheckout').prepend(`<div class="alert alert-danger erroralert" role="alert">
                              <li>${response.errors}</li>
                                  <div class='container text-center'><button id='fillagain' class='btn btn-warning'>Fill Again</button></div>
                            </div>`)
                            $('#fillagain').click(function(){
                              $('.loginformdivcheckout').show()
                            $('.erroralert').remove();
                          })
                      }
                      else{
                        window.location.reload()
                      }
                      },
                      error:function(errorData){
                        console.log(errorData)
                      }
                    })
                })
            })
        </script>
        </div>

        <div class="row">
            <p class="lead">Continue as guest</p>
            <form action={% url 'guest_register' %} method="post">
                {% if next %}
                <input type="hidden" name="next_url" value="{{next}}"> 
                {% csrf_token %}
            {%bootstrap_form guestform%}
            <input type="submit" value="Register" class="btn btn-primary mt-3">
            {% endif %}
        </form>
        </div>

        </div>
{% else %}
        {% if not object.shipping_address%}
        <h3 class="text-center">Shipping Address Form</h3>
        <hr>
        <div class="row">
            {% include 'addresses/form.html' with address_type='shipping'%}
            </div>
            <div class="row">
            {% include 'addresses/previous_addresses.html' with address_qs=address_qs next_url=next address_type='shipping'%}
            </div>
        </div>
        {% elif not object.billing_address %}
        <h3 class="text-center">Billing Address Form</h3>
        <hr>
        <div class="row">
            {% include 'addresses/form.html' with address_type='billing'%}
        </div>
        <div class="row">
            {% include 'addresses/previous_addresses.html' with address_qs=address_qs next_url=next address_type='billing'%}
        </div>
        </div>
        {% else %}
        <div class="container text-center shadow-lg pb-3">


            <h1>Finalize Checkout</h1>
            <p>Cart Items: {% for product in object.cart.products.all %}{{product}}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
            <p>Cart Total: {{object.cart.total}}</p>
            <p>Shipping Address: {{object.shipping_address_id.address}}</p>
            <p>billing Address: {{object.billing_address_id.address}}</p>
            <p>Shipping total: {{object.shipping_total}}</p>
            <p>Order Total: {{object.order_total}}</p>
            <form action="{% url 'carts:checkout' %}" method="POST">
                {% csrf_token %}
                <script
                    src="{% static 'simplesocial/js/checkout.js' %}"
                    data-key="rzp_test_ToOn74RDxVzoCc" // Enter the Test API Key ID generated from Dashboard → Settings → API Keys
                    data-amount="{{totalforpayment}}" // Amount is in currency subunits. Hence, 29935 refers to 29935 paise or ₹299.35.
                    data-currency="INR"// You can accept international payments by changing the currency code. Contact our Support Team to enable International for your account
                    data-order_id="{{payment.id}}"// Replace with the order_id generated by you in the backend.
                    data-buttontext="Checkout"
                    data-name="Finalize Chekout"
                    data-description="Cart Total: {{object.cart.total}} Shipping Total: {{object.shipping_total}}"
                    data-prefill.name="{{request.user.username}}"
                    data-prefill.email="{{request.user.email}}"
                    data-theme.color="#F37254"
                ></script>
                <input type="hidden" custom="Hidden Element" name="hidden">
                </form>
        </div>

            </div>
    {% endif %}
{% endif %}

{% endblock content %}