{% extends 'base.html' %}
{% block content %}

<style>
  .ordertable{
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    float: none;
    
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
  
  
  .ordertable td th{
    width:100%;
    display: inline-block;
  }
  
</style>
<div class="ordertable">
<table class="table text-center" id='table'>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Shipping Address</th>
        <th>Status</th>
        <th>Items</th>
        <th>Order Total</th>
        <th>Timestamp</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for i in object %}
      <tr class="">
        <th>{{i.order_id}}</th> 
        <th>{{i.shipping_address}}</th> 
        <td>{{i.status}}</td>
        <td>{% for j in i.cart.products.all %}
          <a href={% url 'product:product_detail' slug=j.slug %}>{{j}}</a>,
          {% endfor %}</td>
        <td>{{i.order_total}}</td>
        <td>{{i.timestamp}}</td>
        <td><a href="{% url 'orders:delete_order' pk=i.pk %}" class="btn btn-outline-danger btn-sm delete_order">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
    <script>    
    $(document).ready(function() {      
        var deletes=$('.delete_order');
        deletes.click(function(event){
            event.preventDefault();
            $.ajax({
                url:deletes.attr('href'),
                method:'GET',
                success:function(response){
                    console.log(response)
                    $("body").load(`{% url 'orders:order_list' %}`);
                },
                error:function(errorData){
                    console.log(errorData)
                }
            })
        })
    })    
    </script>
  </table>
</div>
{% endblock content %}