{% extends 'base.html' %}
{% block content %}

<table class="table text-center ordertable" id='table'>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Status</th>
        <th>Product Count</th>
        <th>Order Total</th>
        <th>Timestamp</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for i in object %}
      <tr>
        <th>{{i.order_id}}</th> 
        <td>{{i.status}}</td>
        <td>{{i.cart.products.all.count}}</td>
        <td>{{i.order_total}}</td>
        <td>{{i.timestamp}}</td>
        <td><a href="{% url 'orders:delete_order' pk=i.pk %}" class="btn btn-outline-danger btn-sm delete_order">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
    <script>    
    $(document).ready(function() {
      if ($(window).width() < 900) {
        console.log('<900')
        $('table').css({'font-size':'10px'});
    }
    else if($(window).width() < 1200){
      $('table').css({'font-size':'20px'});

    }
    else if($(window).width() < 800){
      $('table').css({'font-size':'5px'});

    }
    else if($(window).width() < 400){
      $('table').css({'font-size':'1px'});

    }
        var deletes=$('.delete_order');
        deletes.click(function(event){
            event.preventDefault();
            $.ajax({
                url:deletes.attr('href'),
                method:'GET',
                success:function(response){
                    console.log(response)
                    $("body").load(`{% url 'orders:order_list' %}`);
                },
                error:function(errorData){
                    console.log(errorData)
                }
            })
        })
    })    
    </script>
  </table>
{% endblock content %}