{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="container text-center card shadow-lg rounded"style="width:45vh;" id="other-components">
        <img src="{{products.image.url}}" class="card-img-top mt-2 rounded" alt="..." width="100%" height="100%">
        <div class="card-body">
          <h5 class="card-title">Title: {{products.title}}</h5>
          <p class="card-text">Description: {{products.description}}</p>
          <span class='card-text'>Price: {{products.price}}</span><br>
          <br>
          {% include 'product/update_cart.html' with product=object cart=cart %}
          <br>
          <a href='{% url 'product:products' %}' class="btn btn-outline-primary form-control">Go Back</a>
        </div>
    </div>
</div>
{% endblock content %}