{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid mt-2">
<div class="row">
    {% for i  in products %}
        <div class="col-sm-6 col-xs-12 col-lg-4 col-md-4 col-xl-3">
            <div class="card shadow-lg p-2 m-2 border border-light bg-gradient" style="width:35vh; margin" id="other-components">
              <div style="height:30vh;">
                <img src="{{i.image.url}}" class="card-img-top" alt="..." width="100%" height="100%">
              </div>
                <div class="card-body">
                  <h5 class="card-title">Title: {{i.title |lower}}</h5>
                  <p>Price: {{i.price}} Rs.</p>
                  {% include 'product/update_cart.html' with product=i cart=cart %}
                  <br>
                  <a href={% url 'product:product_detail' slug=i.slug %} class="btn btn-outline-primary form-control">Details</a>
                </div>
              </div>
        </div>
    {% endfor %}
    
</div>
</div>
{% endblock content%}