{% extends 'base.html' %}
{% block content %}
    <div class="container text-center mt-5 card  border shadow-lg p-3 mb-5 rounded bg-gradient passwordresetdiv" id='other-components'>
        <h4>Heyy {{username}} Here is you reset password form</h4>
        <form action="{% url 'accounts:reset_password' %}" method="post" id='password_reset_form'>
          {% csrf_token %}
          <input type="hidden" name="username" value="{{username}}" />
            <label for="username" class="form-label"> Enter New Password:</label>
            <input class='form-control' type="password" name="password" id="password1" pattern=".{8,12}" required title="8 to 12 characters">
            <label for="" class="form-label">Confirm New Password:</label>
             <input class='form-control' type="password" id="password2" pattern=".{8,12}" required title="8 to 12 characters">
            <br>
            <input type="submit" value="Change" class='btn btn-outline-success btn-md'>
        </form>
        <script>
          var password = document.getElementById("password1"), confirm_password = document.getElementById("password2");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
        </script>
        <script>
          $(document).ready(function(){
            var form=$('#password_reset_form')
            var url=form.attr('action')
            var method=form.attr('method')
            form.submit(function(event){
              var data=form.serialize()
              event.preventDefault();
              $.ajax({
                url:url,
                method:method,
                data:data,
                success:function(response){
                  if(response.result == 'success'){
                    $('.passwordresetdiv').html(`
                    <div class="alert alert-success" role="alert">
                      ${response.content}
                    </div>
                    `)
                  }
                  else{
                    $('.passwordresetdiv').html(`
                    <div class="alert alert-danger" role="alert">
                      ${response.content}
                    </div>
                    `)
                  }
                }
              })
            })
          });
        </script>
    </div>
  {% endblock content %}