<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style='text-align: center; border: 3px solid green;'>
        <h1>Heyy {{username}} Here is you account activation link</h1>
        <form action="http://{{domain}}{% url 'accounts:reset_password' %}" method="post">
          <input type="hidden" name="username" value="{{username}}" />
            Enter New Password:<input type="password" name="password" id="password1" pattern=".{8,12}" required title="8 to 12 characters">
            <input type="submit" value="Change" style="background-color:green; color:white; margin:20px;">
        </form>
        <script>
          var password = document.getElementById("password1"), confirm_password = document.getElementById("password2");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
        </script>
    </div>
</body>
</html>