{% if address_qs.exists %}
        <div class="col-6 container text-center mt-4 p-3">

            <form action={% url 'checkout_address_reuse' %} method="post">  
                
{% csrf_token %}
                {% if next_url %}
                <input type="hidden" name="next" value="{{next_url}}">
                {% endif %}
                
                {% if address_type %}
                <input type="hidden" name="address_type" value="{{address_type}}">
                {% endif %}

            {% for address in address_qs %}
            <label id="Address-{{address.id}}" for="Address-{{address.id}}">
            <input type="radio" class="form-check-input" name="shipping_address"value="{{address.id}}">
            {{address.address_line_1}}
        </label>
            <br>

            {% endfor %}
            <input type="submit" value="Use Address" class="btn btn-outline-success mt-4">
        </form>
        </div>
        {% endif %}