{% extends 'base.html' %}
{% block content %}
<div class="container text-center mt-5">
    <h1>Either You Have Typed A Wrong Email Or Your Account Already Exists</h1>
    <h2>Please provide a valid email if already provided check your email for the activation link</h2>
    <h3>You'll Be Redirected To Home Page In: <span id="time">Loading...</span></h3>
</div>
<script>
var time = 5;
setInterval(function() {
  var seconds = time ;
  var minutes = (time - seconds) / 60;
  if (seconds.toString().length == 1) {
    seconds =  seconds;
  }
  document.getElementById("time").innerHTML =+ seconds;
  time--;
  if (time == 0) {
    window.location.href = "{% url 'home' %}";
  }
}, 1000);
</script>

{% endblock content %}