{% load bootstrap4 %}
<div class="container text-center mt-5 card  border shadow-lg p-3 mb-5 rounded bg-gradient modal-content password_change_div" id='other-components'>
    <h1>Welcome To Password Change Page</h1>
    <form action="{% url 'accounts:change_password' %}" method="post" id='passwordchangeform'>
        {% csrf_token %}
        {%bootstrap_form passwordchangeform%}
       <br>
        <input type="submit" value="Change" class="btn btn-primary mt-3 form-control">
        <input type="button" value="Cancel" class="btn btn-danger mt-3 form-control" data-bs-dismiss="modal" aria-label="Close">
    <br>
    </form>
    <script>
        $(document).ready(function() {
            var form=$('#passwordchangeform')
            form.submit(function(event){
                event.preventDefault();
                var thisForm = $(this)
                var actionEndPoint=thisForm.attr('action')
                var httpMethod=thisForm.attr('method')
                var formData=thisForm.serialize();
                $.ajax({
                  url: actionEndPoint,
                  method: httpMethod,
                  data:formData,  
                  success: function(response){
                    $('.password_change_div').html(`<div class="alert alert-success" role="alert">
                        Your password has been changed successfully.
                      </div>`)
                  },
                  error:function(errorData){
                    console.log(errorData)
                  }
                })
            })
        })
    </script>
</div>
