<script>
var searchForm=$('.search_form')
var searchInput=searchForm.find(".q")
var guesseditembox = $('.guesseditembox')
var el=document.getElementById('searchForm')
ect = el.getBoundingClientRect();
console.log(ect.left,ect.top);
var offsetWidth = document.getElementById('searchForm').offsetWidth;
var offsetHeight = document.getElementById('searchForm').offsetHeight
console.log(offsetWidth,offsetHeight);
var element=$('#searchForm')
$(document).ready(function() {
  
  if ($(window).width() < 1200) {
    guesseditembox.css({
      'position':'absolute',
      'width':'70%',
      
    })
    guesseditembox.attr('align','left')
 }
 else {
  guesseditembox.css({
    //'position':'fixed',
    'width':'70%',
    'height':offsetHeight,
    'position':'absolute',
  })
  guesseditembox.attr('align','center')
 }


searchInput.keyup(function(event){
  //  console.log(searchInput.val())
  $.ajax({
    type:'GET',
    url:"{% url 'get_products' %}",
    success:function(response){
      //console.log(response.products[i].title)
      guesseditembox.empty();      
      var items=(response.tag)
      var dark=window.localStorage.getItem('dark_theme')
      for (var i in items){
        if((items[i].title).toLowerCase().indexOf(searchInput.val()) >-1 && searchInput.val().length > 0){
          if(dark=='dark'){
          guesseditembox.append('<a class="btn btn-dark border border-light guesseditem" id='+items[i].id+' value='+items[i].title+'>'+items[i].title+'</a>')
          }
          else{
            guesseditembox.append('<a class="btn btn-light border border-dark guesseditem" id='+items[i].id+' value='+items[i].title+'>'+items[i].title+'</a>')
          }
          document.getElementById(items[i].id).onclick = function() {
            console.log(this.id, this.innerHTML);
            document.getElementById('searchForm').value=this.innerHTML;
            document.getElementById("search").click();
            };
        }
      }


    },
    error:function(errorData){
        console.log(errorData);
    }
  })
})

searchInput.keydown(function(event){
  
})


//cart and add products
  var productForm=$('.form_product_ajax')
  productForm.submit(function(event) { 
       event.preventDefault();
       var thisForm = $(this)
       var actionEndPoint=thisForm.attr('action')
       //var DataEndPoint=thisForm.attr('data-endpoint')
       var httpMethod=thisForm.attr('method')
       var formData=thisForm.serialize();
       $.ajax({
          url:actionEndPoint,
          method:httpMethod,
          data:formData,
          success:function(data){
              console.log('Success!',data);
              var submitSpan=thisForm.find('#submit_span')
              if (data.added){
                submitSpan.html('<button type="submit"  class="btn btn-outline-danger form-control">Remove</button>')
              }
              else{
                submitSpan.html('<button type="submit" class="btn btn-outline-success form-control">Add To Cart</button>')
              }
              var NavbarCartItemCount=$('#cart_item_count')
            NavbarCartItemCount.text(data.count)   
          },
          error:function(errorData){
              console.log(errorData)
          }
       })
   })
})
</script>