
{% load bootstrap4 %}

<div class="container text-center mt-5 card  shadow p-3 mb-5 border shadow-lg p-3 mb-5 rounded bg-gradient modal-content signupdiv" id="other-components">
  <div class="signupformdiv">
    <h1>SignUp Form</h1>
<form action="{% url 'accounts:signup' %}" method="post" id='signupform'>
    {% csrf_token %}
    <span>Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
    {%bootstrap_field signup_form.username %}
    {%bootstrap_field signup_form.email %}
    <br>
    <ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul>
    {%bootstrap_field signup_form.password1 %}
    {%bootstrap_field signup_form.password2 %}

    <input type="submit" value="SignUp" class="btn btn-primary mt-3 form-control">
    <input type="btn" value="Cancel" class="btn btn-danger mt-3 form-control" data-bs-dismiss="modal" aria-label="Close">
</form>
</div>
<script>
    $(document).ready(function(){
        var form=$('#signupform')
        var url=form.attr('action');
        method=form.attr('method');
        form.submit(function(event){
            event.preventDefault()
            $('.signupformdiv').hide()
            $('.signupdiv').prepend(`<div class="alert alert-primary sending" role="alert">
                Sending Mail....
              </div>`)
            data=form.serialize()
            $.ajax({
                url:url,
                method:method,
                data:data,
                success:function(response){
                    if(response.type=='success'){
                        $('.sending').remove();
                        $('.signupformdiv').hide()
                        $('.signupdiv').prepend(`
                        <div class="successalert">
                        <div class="alert alert-success" role="alert">
                            <li>Activation link has been sent to you email!!</li>
                        </div>
                        <div class="alert alert-danger" role="alert">
                            <li>If you did not recieve the activation link</li>
                        <li>Then please provide a valid email <div class='container text-center'><button id='fillagain' class='btn btn-warning'>Fill Again</button></div></li>
                        </div>
                    </div>
                        `)
                        $('#fillagain').click(function(){
                            $('.signupformdiv').show()
                            $('.successalert').remove()
                        })
                    }
                    else if(response.Exception =='occured'){
                        $('.sending').remove();
                        $('.signupformdiv').hide()
                        $('.signupdiv').prepend(`<div class="alert alert-danger exceptionalert" role="alert">
                            ${response.content}
                            <span>Check you internet connection</span>
                            <div class='container text-center'><button id='fillagain' class='btn btn-warning'>Fill Again</button></div>
                        </div>
                        `)
                        $('#fillagain').click(function(){
                            $('.signupformdiv').show()
                            $('.exceptionalert').remove()
                        })
                    }
                    else if(response.type=='error'){
                        $('.sending').remove();
                        $('.signupformdiv').hide()
                        console.log(response.errors)
                       
                        $('.signupdiv').prepend(`<div class="alert alert-danger erroralert" role="alert">
                            <li>${response.errors}</li>
                                <div class='container text-center'><button id='fillagain' class='btn btn-warning'>Fill Again</button></div>
                          </div>`)
                          $('#fillagain').click(function(){
                            
                            $('.signupformdiv').show()
                            $('.erroralert').remove()
                        })
                    }
                }
            });
        })
    });
</script>
</div>
