<script>
  $(document).ready(function() {
if(window.localStorage.getItem('theme_icon')){
  $('.dark_theme').html(window.localStorage.getItem('theme_icon'))
}
else{
  window.localStorage.setItem('theme_icon',`<span class="btn btn-outline-dark" style="font-size: 1rem;">Dark Mode:OFF</span>`)
  $('.dark_theme').html(window.localStorage.getItem('theme_icon'))
}
 
 document.getElementById("nav").classList.add(window.localStorage.getItem('nav-class'));
        console.log('navbar-class ',document.getElementById("nav").classList )
        document.getElementById('content').classList.add(window.localStorage.getItem('body-class-text'),window.localStorage.getItem('body-class-bg'));
        var cards=document.querySelectorAll('#other-components')
        for(var i = 0; i < cards.length; i++) {
          cards[i].classList.add(window.localStorage.getItem('other-components-bg'),window.localStorage.getItem('other-components-text'));
          }
    
          if(document.getElementById("table")){
            document.getElementById("table").classList.add(window.localStorage.getItem('table'));
            }
    
    function DarkModeOnOff(dark){
       console.log('in function')
       console.log(dark)
       
    
    if (dark=='dark'){    
      
      window.localStorage.setItem('theme_icon',`<span class="btn btn-outline-light" style="font-size: 1rem;">Dark Mode:ON</span>`)
      window.localStorage.setItem('nav-class','navbar-dark')
      window.localStorage.setItem('nav-class-bg','bg-dark')
      window.localStorage.setItem('body-class-bg','bg-dark')
      window.localStorage.setItem('body-class-text','text-light')
      window.localStorage.setItem('other-components-bg','bg-dark')
      window.localStorage.setItem('other-components-text','text-light')
      window.localStorage.setItem('table','table-dark')
      document.cookie="theme=dark"
      var cookies=document.cookie.split(';').map(cookie=>cookie.split('=')).reduce((accumulator,[key,value])=>({...accumulator,[key.trim()]:decodeURIComponent(value)}),{});
      console.log('cookie',cookies.theme)
    }
    else{
        window.localStorage.setItem('theme_icon',`<span class="btn btn-outline-dark" style="font-size: 1rem;">Dark Mode:OFF</span>`)
        window.localStorage.setItem('nav-class-bg','bg-light')
        window.localStorage.setItem('body-class-bg','bg-light')
        window.localStorage.setItem('body-class-text','text-dark')
        window.localStorage.setItem('nav-class','navbar-light')
        window.localStorage.setItem('other-components-bg','bg-light')
        window.localStorage.setItem('other-components-text','text-dark')
        window.localStorage.setItem('table','table-light')
      document.cookie="theme=light"
      var cookies=document.cookie.split(';').map(cookie=>cookie.split('=')).reduce((accumulator,[key,value])=>({...accumulator,[key.trim()]:decodeURIComponent(value)}),{});
      console.log('cookie',cookies.theme)
        
    }                   
  }
    $('.dark_theme').click(function(event) {
      event.preventDefault();
      $.ajax({
        type:'GET',
        url:'/theme/',
        success: function(response){
          console.log(response.dark_theme)
          var dark_=response.dark_theme
          window.localStorage.setItem('dark_theme',dark_)
          var dark_theme=window.localStorage.getItem('dark_theme')
          console.log(dark_theme)
          
          DarkModeOnOff(dark_theme);
          window.location.reload();
          
        },
        error:function(errorData){
          console.log(errorData);
        }
      })  
    })
  });
  </script>
  